@import "partials/_imports.scss";

$pill-width: 120px;
$section-divider: 2px solid $lightest-gray;

.container {
  min-width: $min-width;
  margin: 0 auto;
}

.tile {
  position: relative;
  margin: $half-gutter-width;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  @include box-sizing();
  @include inline-block();
  @include transition-duration(0.5s);
  @include transition-property(box-shadow);
}

.heading {
  @include inline-block;
  padding-bottom: $half-gutter-width;
  border-bottom: 5px solid $gray;
}

/***** Side nav ****/
$nav-item-width: 50px;

nav.navigation {
  width: 100%;
  color: $black;
  font-size: 15px;
  text-align: left;

  li {
    text-align: right;
    @include inline-block();

    &:not(:last-child):after {
      content: "";
      width: $nav-item-width;
      height: 2px;
      background: gray;
      margin: 5px $half-gutter-width;
      @include inline-block();
    }

    .icon-sm {
      @include opacity(0.5);
      &:hover { @include opacity(1); }
    }
  }

  .icon {
    margin: $half-gutter-width;
  }
}

/*** home page ***/

.home {
  background: url(../img/img_secondary_e1.jpg);
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 500px;

  .mask {
    background: $black;
    height: 100%;
    @include opacity(0.7);
  }

  .content {
    color: $white;
    text-align: center;
    position: relative;
    top: 60%;

    h1 {
      font-size: 45px;
    }

    .continue {
      position: relative;
      margin-top: $gutter-width;
      height: 21px;

      a, a:active, a:hover {
        color: $white;
        text-decoration: none;
        font-style: italic;
      }

      a:hover {
        text-decoration: underline;
        span {
          @include inline-block;
        }
      }

      span {
        display: none;
        background: url(../img/right-arrow.png);
        width: 21px;
        height: 20px;
        margin-left: $half-gutter-width;
        position: absolute;
        top: 5px;
      }

    }
  }
}


/****** Info page ********/
$bar-height: 5px;

.about-me {
    box-sizing: border-box;
    padding: $gutter-width;

    .skillset {
      border-top: 2px solid $lightest-gray;
      position: relative;
      overflow: auto;

      h1 {
        position: absolute;
        top: 47%;
        left: 45%;
      }
    }

    .circle-container {
      @include putOnCircle(10, 500px, $pill-width);
      margin: 5em auto 0;

      .pill {
        cursor: pointer;
        width: $pill-width;
        &.django {
          width: $pill-width + 30px;
          span { width: $pill-width + 30px; }
        }

        span {
          @include border-radius(20px);
          @include inline-block;
          background: $gray;
          color: $white;
          padding: $half-gutter-width;
        }

        .bar {
          width: $pill-width;
          height: $bar-height;
          margin-top: 5px;
          border: 1px solid $gray;
          div {
            height: $bar-height;
            background: $gray;
          }
        }

        &:hover {
          .bar {
            display: block;
            border: 1px solid $orange;
            div {
              background: $orange;
              width: auto;
            }
          }
        }
      }
    }

    .experience {
      margin: 50px 0;

      .background-transition {
        @include transition-duration(0.3s);
        @include transition-property(background);
      }

      .exptile {
        cursor: pointer;
        padding-bottom: $half-gutter-width;

        @include border-radius(15px);
        @extend .background-transition;

        .tile {
          float: left;
          width: $experience-tile-width;
          height: $experience-tile-height;
          border: 10px solid $lighter-gray;
          @include border-radius(50%);

          &.exp1 {
            background: url("../img/logo_staples_gray.png");
            background-position: -8px -15px;
            @extend .background-transition;
          }
          &.exp2 {
            background: url("../img/logo_ebay_gray.png");
            background-position: -7px -5px;
            @extend .background-transition;
          }
          &.exp3 {
            background: url("../img/logo_mp_gray.jpg");
            background-position: 10px 9px;
            @extend .background-transition;
          }
          &.exp4 {
            background: url("../img/logo_umn_gray.jpg");
            background-position: -8px -17px;
            @extend .background-transition;
          }
          &.exp5 {
            background: url("../img/logo_nokia_gray.png");
            background-position: -6px -12px;
            @extend .background-transition;
          }

          img {
            width: $experience-tile-width;
            height: $experience-tile-height;
          }

          > div {
            font-size: 15px;
            color: $white;
            position: absolute;
            bottom: -60px;
            width: $experience-tile-width - (2 * $gutter-width) - $half-gutter-width;
            background: $gray;
            text-align: center;
            padding: 6px $gutter-width $half-gutter-width;
            height: 40px;

            @include transition-duration(0.3s);
            @include transition-property(bottom);
          }
        }

        .details {
          font-size: 30px;
          display: table;
          box-sizing: border-box;
          float: left;
          height: $experience-tile-height/2;
          padding: 0 $gutter-width 0 ($experience-tile-width/2 + $gutter-width);
          width: calc(100% - 110px);
          height: $experience-tile-height;
          margin: $half-gutter-width 0 $half-gutter-width -111px;
          @include border-radius(15px);
          div { text-align: right; }
          span {
            line-height: $experience-tile-height;
          }
          a.close-btn {
            text-decoration: none;
            color: $gray;
            display: none;
            float: right;

            &:hover, &:visited {
              color: $gray;
              text-decoration: none;
            }
          }
        }

        .projects {
          height: 0;

          @include transition-duration(0.5s);
          @include transition-property(height);
        }

        &:hover, &.active {
          background: $lightest-gray;

          .tile {
            @include box-shadow($box-shadow-tile);
            border: 10px solid $gray;
            > div {
              bottom: -1px;
            }
            &.exp1 {
              background: url("../img/logo_staples.png");
              background-position: -8px -15px;
            }
            &.exp2 {
              background: url("../img/logo_ebay.png");
              background-position: -7px -5px;
            }
            &.exp3 {
              background: url("../img/logo_mp.jpg");
              background-position: 10px 9px;
            }
            &.exp4 {
              background: url("../img/logo_umn.jpg");
              background-position: -8px -17px;
            }
            &.exp5 {
              background: url("../img/logo_nokia.png");
              background-position: -6px -12px;
            }

          }
        }

        &.active {
          .details .close-btn { display: block; }
          .projects { height: 500px; }
        }
      }
    }
}

/******* contact ********/
$arrow-border: 12px;
$input-width: 250px;

.arrow {
  position: absolute;
  top: -24px;
  left: 100px;
  border-bottom: $arrow-border solid $lightest-gray;
  border-top: $arrow-border solid transparent;
  border-left: $arrow-border solid transparent;
  border-right: $arrow-border solid transparent;
}

.contact-me {
  margin-top: $gutter-width;
  border-top: 2px solid $lightest-gray;
  height: 300px;
  padding: $gutter-width;

  ul li {
    @include inline-block();
  }

  .grid {
    .cell:first-child{ min-width: 180px; }
  }

  .formrow {
    margin: 5px 0;
  }

  label {
      vertical-align: top;
  }

  .inputs {
    background: $lighter-gray;
    border: 1px solid $light-gray;
    padding: 5px 10px;
    font-size: 13px;
    @include border-radius(5px);

    &:focus {
      outline: 0;
      border: 1px solid $gray;
    }
  }

  input {
    @extend .inputs;
    height: 30px;
    width: $input-width;
  }

  textarea {
    @extend .inputs;
    resize: none;
    height: 130px;
    width: $input-width + 40px;
  }
}
