.icon {
  @include inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;

  &.icon-sm {
    width: 20px;
    height: 20px;
  }
}

.icon-facebook {
  background: url(../img/icon_facebook_dark.png);
  &:hover {
    background: url(../img/icon_facebook_active.png);
  }
}

.icon-twitter {
  background: url(../img/icon_twitter_dark.png);
  &:hover {
    background: url(../img/icon_twitter_active.png);
  }
}

.icon-linkedin {
  background: url(../img/icon_linkedin_dark.png);
  &:hover {
    background: url(../img/icon_linkedin_active.png);
  }
}

.icon-email {
  background: url(../img/icon_blog_gray.png);
  &:hover {
    background: url(../img/icon_blog_active.png);
  }
}

.icon-instagram { background: url(../img/icon_sleek_instagram.png); }
.icon-home { background: url(../img/icon_home.png); }
.icon-info { background: url(../img/icon_info.gif); }
.icon-tools { background: url(../img/icon_tools.png); }
.icon-contact { background: url(../img/icon_contact.png); }
