<section class="about-me">
  include "_navigation.html"

  <div class="main-content">
    <div class="grid">
      <div class="cell cell-30">
        <h1 class="heading">Who am I?</h1>
        <p>
          This is Arjune. 28 years old. A surprisingly good looking dude who likes to code, yes.
          An experienced Front-End developer with a background in computer science, web technologies and Human-Computer Interaction. I also love designing and been wanting to do more of it.
        </p>
      </div>
      <div class="cell cell-30">
        <h1 class="heading">What I do?</h1>
        <p>
          Doing what I do best, at <strong>Staples</strong>. I've been working there for more than a year.
          I live in the land of opportunities, USA and nothing makes me more happier.
      </div>
      <div class="cell cell-30">
        <h1 class="heading">Why I do?</h1>
        <p>
          Building user interfaces is my passion. I love solving UI related problems.
          Articulate, good presentation skills, excellent sense of humor and the ability to thrive well in a group situation are my positives.
      </div>
    </div>

    include "_experience.html"

    include "_skillsets.html"
  </div>
</section>
