<section class="about-me">
  <div class="main-content">
    <h2 class="quote">"Before software can be reusable it first has to be usable"</h2>
    <div class="grid">
      <div class="cell cell-30">
        <h1>Who am I?</h1>
        <p>
          I am Arjune. 28 years old. A surprisingly good looking dude who likes to code, yes.
          An experienced Front-End developer with a background in computer science, web technologies and Human-Computer Interaction. I also love designing and been wanting to do more of it.
        </p>
      </div>
      <div class="cell cell-30">
        <h1>What I do?</h1>
        <p>
          Doing what I do best, at <span class="fg-red">Staples</span>. I've been working there for more than a year.
          I live in the land of opportunities, USA and nothing makes me more happier.
      </div>
      <div class="cell cell-30">
        <h1>Why I do?</h1>
        <p>
          Building user interfaces is my passion. I love solving UI related problems.
          Articulate, good presentation skills, excellent sense of humor and the ability to thrive well in a group situation are my positives.
      </div>
    </div>

    <div class="skillset">
      <h1>What skills I have?</h1>
      <div class="circle-container">
        <div class="pill">
          <span>HTML5</span>
          <div class="bar"><div class="level" style="width: 80%"></div></div>
        </div>
        <div class="pill">
          <span>CSS3</span>
          <div class="bar"><div class="level" style="width: 80%"></div></div>
        </div>
        <div class="pill">
          <span>SaaS</span>
          <div class="bar"><div class="level" style="width: 60%"></div></div>
        </div>
        <div class="pill">
          <span>JQuery</span>
          <div class="bar"><div class="level" style="width: 80%"></div></div>
        </div>
        <div class="pill">
          <span>AngularJS</span>
          <div class="bar"><div class="level" style="width: 50%"></div></div>
        </div>
        <div class="pill">
          <span>PhP</span>
          <div class="bar"><div class="level" style="width: 70%"></div></div>
        </div>
        <div class="pill django">
          <span>Django/Python</span>
          <div class="bar"><div class="level" style="width: 70%"></div></div>
        </div>
        <div class="pill">
          <span>NodeJS</span>
          <div class="bar"><div class="level" style="width: 40%"></div></div>
        </div>
        <div class="pill">
          <span>Git</span>
          <div class="bar"><div class="level" style="width: 80%"></div></div>
        </div>
        <div class="pill">
          <span>JSP/Java</span>
          <div class="bar"><div class="level" style="width: 60%"></div></div>
        </div>
      </div>
    </div>

    <div class="experience">
      <h1>Where I do/did?</h1>
      <div class="grid expgrid">
        <div class="tile">
          <img src="../img/logo_staples.png" />
          <div class="details animated fadeIn">
            <span>July 14 - Current</span>
          </div>
        </div>
        <div class="tile">
          <img src="../img/logo_ebay.png" />
          <div class="details animated fadeIn">
            <span>Apr 12 - July 14</span>
          </div>
        </div>
        <div class="tile">
          <img src="../img/logo_mp.jpg" />
          <div class="details animated fadeIn">
            <span>July 12 - Apr 14</span>
          </div>
        </div>
        <div class="tile">
          <img src="../img/logo_umn.jpg" />
          <div class="details animated fadeIn">
            <span>Jan 10 - Dec 12</span>
          </div>
        </div>
        <div class="tile">
          <img src="../img/logo_nokia.png" />
          <div class="details animated fadeIn">
            <span>June 07 - May 09</span>
          </div>
        </div>
      </div>
  </div>
</section>
