<div class="experience">
  <h1 class="heading">Where I do/did?</h1>
    <div class="exptile">
      <div class="grid">
        <div class="tile exp1">
          <div>Aug 2014 <br>Present</div>
        </div>
        <div class="details">
          <a href="" class="close-btn">X</a>
          <span>
            Associate software engineer
          </span>
        </div>
      </div>
      <div class="projects">
      </div>
    </div>
    <div class="grid exptile">
      <div class="tile exp2">
        <div>June 2012 <br>Aug 2014</div>
      </div>
      <div class="details">
        <a href="" class="close-btn">X</a>
        <span>
          Associate software engineer
        </span>
      </div>
    </div>
    <div class="grid exptile">
      <div class="tile exp3">
        <div>July 2013 <br>Apr 2014</div>
      </div>
      <div class="details">
        <div><a href="" class="close-btn">X</a></div>
        <span>
          Associate software engineer
        </span>
      </div>
    </div>
    <div class="grid exptile">
      <div class="tile exp4">
        <div>Jan 2010 <br>Dec 2012</div>
      </div>
      <div class="details">
        <div><a href="" class="close-btn">X</a></div>
        <span>
          Associate software engineer
        </span>
      </div>
    </div>
    <div class="grid exptile">
      <div class="tile exp5">
        <div>June 2007 <br>May 2009</div>
      </div>
      <div class="details">
        <div><a href="" class="close-btn">X</a></div>
        <span>
          Associate software engineer
        </span>
      </div>
    </div>
</div>
