<section class="projects">
  <div class="main-content">
    <h1 class="page-title">Projects</h1>
    <div class="grid">
      <div class="project-tile tile1">
        <div class="mask">
          <div class="learnmore">
            <a href="">Learn more</a>
          </div>
        </div>
      </div>
      <div class="project-tile tile2">
        <div class="mask">
          <div class="learnmore">
            <a href="">Learn more</a>
          </div>
        </div>
      </div>
      <div class="project-tile tile3">
        <div class="mask">
          <div class="learnmore">
            <a href="">Learn more</a>
          </div>
        </div>
      </div>
      <div class="project-tile tile4">
        <div class="mask">
          <div class="learnmore">
            <a href="">Learn more</a>
          </div>
        </div>
      </div>
      <div class="project-tile tile5">
        <div class="mask">
          <div class="learnmore">
            <a href="">Learn more</a>
          </div>
        </div>
      </div>
      <div class="project-tile tile6">
        <div class="mask">
          <div class="learnmore">
            <a href="">Learn more</a>
          </div>
        </div>
      </div>
      <div class="project-tile tile7">
        <div class="mask">
          <div class="learnmore">
            <a href="">Learn more</a>
          </div>
        </div>
      </div>
      <div class="project-tile tile8">
        <div class="mask">
          <div class="learnmore">
            <a href="">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
