<h2 class="quote">"Before software can be reusable it first has to be usable"</h2>
<div class="skillset">
  <h1 class="heading">What skills I have?</h1>
  <div class="circle-container">
    <div class="pill">
      <span>HTML5</span>
      <div class="bar"><div style="width: 80%"></div></div>
    </div>
    <div class="pill">
      <span>CSS3</span>
      <div class="bar"><div style="width: 80%"></div></div>
    </div>
    <div class="pill">
      <span>SaaS</span>
      <div class="bar"><div style="width: 60%"></div></div>
    </div>
    <div class="pill">
      <span>JQuery</span>
      <div class="bar"><div style="width: 80%"></div></div>
    </div>
    <div class="pill">
      <span>AngularJS</span>
      <div class="bar"><div style="width: 50%"></div></div>
    </div>
    <div class="pill">
      <span>PhP</span>
      <div class="bar"><div style="width: 70%"></div></div>
    </div>
    <div class="pill django">
      <span>Django/Python</span>
      <div class="bar"><div style="width: 70%"></div></div>
    </div>
    <div class="pill">
      <span>NodeJS</span>
      <div class="bar"><div style="width: 40%"></div></div>
    </div>
    <div class="pill">
      <span>Git</span>
      <div class="bar"><div style="width: 80%"></div></div>
    </div>
    <div class="pill">
      <span>JSP/Java</span>
      <div class="bar"><div style="width: 60%"></div></div>
    </div>
  </div>
</div>
